@{
    Layout = null;
}

<style>
    th {
        background-color: #006666;
        color: white;
        text-align:center;
       }
    tr{
        text-align:center;
    }
    table.ortala {
        width: 1000px;
        height: auto;
        padding: 20px;        
        position: relative;
        margin: auto;
        background-color:antiquewhite;
    }
    h4{
        text-align:center;
    }
</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        window.onload = function () {


            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: "Sıcaklık"
                },
                toolTip: {
                    shared: true
                },
                data: [{
                        type: "line",
                        name: "Çok Düşük",
                        showInLegend: true,
                        dataPoints: @Html.Raw(ViewBag.DataPoints1),
                    },
                    {
                        type: "line",
                        name: "Düşük",
                        showInLegend: true,
                        dataPoints: @Html.Raw(ViewBag.DataPoints2),
                    }, {
                        type: "line",
                        name: "Orta",
                        showInLegend: true,
                        dataPoints: @Html.Raw(ViewBag.DataPoints3),
                    }, {
                        type: "line",
                        name: "Yüksek",
                        showInLegend: true,
                        dataPoints: @Html.Raw(ViewBag.DataPoints4),
                    }, {
                        type: "line",
                        name: "Çok Yüksek",
                        showInLegend: true,
                        dataPoints: @Html.Raw(ViewBag.DataPoints5),
                    }]
            });
            chart.render();

            var chart1 = new CanvasJS.Chart("chartContainer1", {
                animationEnabled: true,
                title: {
                    text: "Seviye"
                },
                toolTip: {
                    shared: true
                },
                data: [{
                        type: "line",
                        name: "Çok Düşük",
                        showInLegend: true,
                        dataPoints: @Html.Raw(ViewBag.DataPoints6),
                    },
                    {
                        type: "line",
                        name: "Düşük",
                        showInLegend: true,
                        dataPoints: @Html.Raw(ViewBag.DataPoints7),
                    }, {
                        type: "line",
                        name: "Orta",
                        showInLegend: true,
                        dataPoints: @Html.Raw(ViewBag.DataPoints8),
                    }, {
                        type: "line",
                        name: "Yüksek",
                        showInLegend: true,
                        dataPoints: @Html.Raw(ViewBag.DataPoints9),
                    }, {
                        type: "line",
                        name: "Çok Yüksek",
                        showInLegend: true,
                        dataPoints: @Html.Raw(ViewBag.DataPoints10),
                    }]
            });
            chart1.render();

            var chart2 = new CanvasJS.Chart("chartContainer2", {
                animationEnabled: true,
                title: {
                    text: "Rezistans"
                },
                axisY: {
                    includeZero: true
                },
                axisX: {
                    includeZero: true
                },
                toolTip: {
                    shared: true
                },
                data: [{
                        type: "line",
                        name: "Çok Az",
                        showInLegend: true,
                        dataPoints: @Html.Raw(ViewBag.DataPoints11),
                    },
                    {
                        type: "line",
                        name: "Az",
                        showInLegend: true,
                        dataPoints: @Html.Raw(ViewBag.DataPoints12),
                    }, {
                        type: "line",
                        name: "Orta",
                        showInLegend: true,
                        dataPoints: @Html.Raw(ViewBag.DataPoints13),
                    }, {
                        type: "line",
                        name: "Çok",
                        showInLegend: true,
                        dataPoints: @Html.Raw(ViewBag.DataPoints14),
                    },
                    {
                        type: "line",
                        name: "Aşırı Çok",
                        showInLegend: true,
                        dataPoints: @Html.Raw(ViewBag.DataPoints15),
                    }]
            });
            chart2.render();
            
        }
    </script>
    
    @if (ViewBag.sicaklikUyelik != null|| ViewBag.sicaklikUyelik1 != null || ViewBag.sicaklikUyelik2 != null || ViewBag.sicaklikUyelik3 != null || ViewBag.sicaklikUyelik4 != null)
    {<script>
         function bas() {
             var chart3 = new CanvasJS.Chart("chartContainer3",
                 {
                     title: {
                         text: "Sicaklik"
                     },
                     axisY: {
                         includeZero: true
                     },
                     axisX: {
                         includeZero: true
                     },
                     toolTip: {
                         shared: true
                     },
                     data: [
                         {
                             type: "line",
                             name: "Çok Düşük",
                             showInLegend: true,
                             dataPoints: @Html.Raw(ViewBag.sicaklikUyelik),
                         },
                         {
                             type: "line",
                             name: "Düşük",
                             showInLegend: true,
                             dataPoints: @Html.Raw(ViewBag.sicaklikUyelik1),
                         }, {
                             type: "line",
                             name: "Orta",
                             showInLegend: true,
                             dataPoints: @Html.Raw(ViewBag.sicaklikUyelik2),
                         }, {
                             type: "line",
                             name: "Çok",
                             showInLegend: true,
                             dataPoints: @Html.Raw(ViewBag.sicaklikUyelik3),
                         },
                         {
                             type: "line",
                             name: "Çok Yüksek",
                             showInLegend: true,
                             dataPoints: @Html.Raw(ViewBag.sicaklikUyelik4),
                         }
                     ]
                 });

             chart3.render();
         }
     </script>
         }
        
            
    @if (ViewBag.seviyeUyelik != null|| ViewBag.seviyeUyelik1 != null || ViewBag.seviyeUyelik2 != null || ViewBag.seviyeUyelik3 != null || ViewBag.seviyeUyelik4 != null)
        {<script>
             function bas1() {


                 var chart4 = new CanvasJS.Chart("chartContainer4",
                     {
                         title: {
                             text: "Seviye"
                         },
                         axisY: {
                             includeZero: true
                         },
                         axisX: {
                             includeZero: true
                         },
                         toolTip: {
                             shared: true
                         },
                         data: [
                             {
                                 type: "line",
                                 name: "Çok Düşük",
                                 showInLegend: true,
                                 dataPoints: @Html.Raw(ViewBag.seviyeUyelik),
                             },
                             {
                                 type: "line",
                                 name: "Düşük",
                                 showInLegend: true,
                                 dataPoints: @Html.Raw(ViewBag.seviyeUyelik1),
                             }, {
                                 type: "line",
                                 name: "Orta",
                                 showInLegend: true,
                                 dataPoints: @Html.Raw(ViewBag.seviyeUyelik2),
                             }, {
                                 type: "line",
                                 name: "Çok",
                                 showInLegend: true,
                                 dataPoints: @Html.Raw(ViewBag.seviyeUyelik3),
                             },
                             {
                                 type: "line",
                                 name: "Çok Yüksek",
                                 showInLegend: true,
                                 dataPoints: @Html.Raw(ViewBag.seviyeUyelik4),
                             }
                         ]
                     });

                 chart4.render();

             }


         </script>}
    
    @if (ViewBag.rezistansUyelik != null || ViewBag.rezistansUyelik1 != null || ViewBag.rezistansUyelik2 != null || ViewBag.rezistansUyelik3 != null || ViewBag.rezistansUyelik4 != null)
    {
    <script>
             function bas2() {


                 var chart5 = new CanvasJS.Chart("chartContainer5",
                     {
                         title: {
                             text: "Rezistans"
                         },
                         axisY: {
                             includeZero: true
                         },
                         axisX: {
                             includeZero: true
                         },
                         toolTip: {
                             shared: true
                         },
                         data: [
                             {
                                 type: "line",
                                 name: "Çok Az",
                                 showInLegend: true,
                                 dataPoints: @Html.Raw(ViewBag.rezistansUyelik)
                             },
                             {
                                 type: "line",
                                 name: "Az",
                                 showInLegend: true,
                                 dataPoints: @Html.Raw(ViewBag.rezistansUyelik1)
                             }, {
                                 type: "line",
                                 name: "Orta",
                                 showInLegend: true,
                                 dataPoints: @Html.Raw(ViewBag.rezistansUyelik2)
                             }, {
                                 type: "line",
                                 name: "Çok",
                                 showInLegend: true,
                                 dataPoints: @Html.Raw(ViewBag.rezistansUyelik3)
                             },
                             {
                                 type: "line",
                                 name: "Aşırı Çok",
                                 showInLegend: true,
                                 dataPoints: @Html.Raw(ViewBag.rezistansUyelik4)
                             }
                         ]
                     });

                 chart5.render();

             }


    </script>}
    
    @if (ViewBag.sonGrafikUyelik != null)
    {
        <script>
             function bas3() {


                 var chart6 = new CanvasJS.Chart("chartContainer6",
                     {
                         title: {
                             text: "Rezistans"
                         },
                         axisY: {
                             includeZero: true
                         },
                         axisX: {
                             includeZero: true
                         },
                         toolTip: {
                             shared: true
                         },
                         data: [
                             {
                                 type: "area",
                                 markerBorderThickness: 3,
                                 color: "maroon",
                                 fillOpacity: 1,
                                 showInLegend: true,
                                 dataPoints: @Html.Raw(ViewBag.sonGrafikUyelik)
                             },
                             {
                                 type: "area",
                                 markerBorderThickness: 3,
                                 color: "maroon",
                                 fillOpacity: 1,
                                 showInLegend: true,
                                 dataPoints: @Html.Raw(ViewBag.sonGrafikUyelik1)
                             },
                             {
                                 type: "area",
                                 markerBorderThickness: 3,
                                 color: "maroon",
                                 fillOpacity: 1,
                                 showInLegend: true,
                                 dataPoints: @Html.Raw(ViewBag.sonGrafikUyelik2)
                                 },
                             {
                                 type: "area",
                                 markerBorderThickness: 3,
                                 color: "maroon",
                                 fillOpacity: 1,
                                 showInLegend: true,
                                 dataPoints: @Html.Raw(ViewBag.sonGrafikUyelik3)
                                 },
                             {
                                 type: "area",
                                 markerBorderThickness: 3,
                                 color: "maroon",
                                 fillOpacity: 1,
                                 showInLegend: true,
                                 dataPoints: @Html.Raw(ViewBag.sonGrafikUyelik4)
                             }
                         ]
                     });

                 chart6.render();

             }


        </script>}
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="/Content/img/favicon.png">

    <title>Responsive Table</title>

    <!-- Bootstrap core CSS -->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Content/css/bootstrap-reset.css" rel="stylesheet">
    <!--external css-->
    <link href="/Content/assets/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="/Content/css/table-responsive.css" rel="stylesheet"/>
    <!-- Custom styles for this template -->
    <link href="/Content/css/style.css" rel="stylesheet">
    <link href="/Content/css/style-responsive.css" rel="stylesheet"/>

</head>

<body>
    <section>
        <!--header start-->
        <header class="header white-bg">
            
            <!--logo start-->
            <a class="logo">Fuzzy<span>Logic</span></a>
            <!--logo end-->
        </header>
        
        <section>
        <section class="wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Makine Öğrenmesi - Bulanık Mantık
                        </header>
                        <div class="panel-body">
                            @if (TempData["Hata"] != null && TempData["Hata"] != "Çıkışta Hareket Yok")
                            {
                                <div class="alert alert-success alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong>Durulaştırma Ağırlık Ortalama Değeri : @TempData["Hata"] KΩ</strong>
                                </div>
                            }
                            else if(TempData["Hata"] != null)
                            {
                                double deger = Convert.ToDouble(TempData["Hata"]);
                                <div class="alert alert-success alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <strong>Durulaştırma Ağırlık Ortalama Değeri : @deger.ToString("0.##")</strong>
                                </div>
                            }

                            <form role="form" action="/Index/Index1">
                                <div class="form-group">
                                    <label>Sıcaklık Değerini Giriniz (°C):</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" name="x" placeholder="Sıcaklık Değerini Giriniz.." required>
                                </div>

                                <div class="form-group">
                                    <label>Seviye Değerini Giriniz (L):</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" name="y" placeholder="Seviye Değerini Giriniz.." required>
                                </div>

                                <button type="submit" class="btn btn-info">Rezistans Çıkış Değerini Sorgula</button>

                            </form>
                            @if (TempData["Hata"] != null)
                            {
                                <button type="button" style="width: 19.8%" onclick="bas()" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                                    Sıcaklık Üyelikleri ve Dereceleri
                                </button>
                                <button type="button" style="width: 19.8%" onclick="bas1()" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal1">
                                    Seviye Üyelikleri ve Dereceleri
                                </button>
                                <button type="button" style="width: 19.8%" class="btn btn-success" data-toggle="modal" data-target="#exampleModal2">
                                    Bulanık Çıkarım Kuralları
                                </button>
                            @*<button type="button" style="width: 16.4%" class="btn btn-success" data-toggle="modal" data-target="#exampleModal3">
                                Xler
                            </button>*@
                                <button type="button" style="width: 19.7%" onclick="bas2()" class="btn btn-info" data-toggle="modal" data-target="#exampleModal4">
                                    Rezistans Üyelikleri ve Dereceleri
                                </button>
                                <button type="button" style="width: 19.7%" onclick="bas3()" class="btn btn-info" data-toggle="modal" data-target="#exampleModal5">
                                    Rezistans Çıkış Grafiği
                                </button>
                            }
                        </div>
                    </section>
                </div>
            </div>

        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        <h4> Bulanık Kural Tabanı</h4>
                    </header>
                    <div class="panel-body">
                        <section>
                            <table class="table table-bordered table-striped table-condensed ortala">
                                <thead>
                                <tr>
                                    <th style="border-right-width: 3px; background-color: #339966">Seviye\Sıcaklık</th>
                                    <th style="border-bottom-width: 3px">Çok Düşük</th>
                                    <th style="border-bottom-width: 3px">Düşük</th>
                                    <th style="border-bottom-width: 3px">Orta</th>
                                    <th style="border-bottom-width: 3px">Yüksek</th>
                                    <th style="border-bottom-width: 3px">Çok Yüksek</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th style="border-right-width: 3px; background-color: #8585ad">Çok Düşük</th>
                                    <td class="numeric">Orta</td>
                                    <td class="numeric">Az</td>
                                    <td class="numeric">Çok Az</td>
                                    <td class="numeric">Çıkışta hareket yok</td>
                                    <td class="numeric">Çıkışta hareket yok</td>
                                </tr>
                                <tr>
                                    <th style="border-right-width: 3px; background-color: #8585ad">Düşük</th>
                                    <td class="numeric">Çok</td>
                                    <td class="numeric">Orta</td>
                                    <td class="numeric">Çok Az</td>
                                    <td class="numeric">Çok Az</td>
                                    <td class="numeric">Çıkışta hareket yok</td>
                                </tr>
                                <tr>
                                    <th style="border-right-width: 3px; background-color: #8585ad">Orta</th>
                                    <td class="numeric">Aşırı Çok</td>
                                    <td class="numeric">Çok</td>
                                    <td class="numeric">Orta</td>
                                    <td class="numeric">Çok Az</td>
                                    <td class="numeric">Çıkışta hareket yok</td>
                                </tr>
                                <tr>
                                    <th style="border-right-width: 3px; background-color: #8585ad">Yüksek</th>
                                    <td class="numeric">Aşırı Çok</td>
                                    <td class="numeric">Çok</td>
                                    <td class="numeric">Çok</td>
                                    <td class="numeric">Az</td>
                                    <td class="numeric">Çıkışta hareket yok</td>
                                </tr>
                                <tr>
                                    <th style="border-right-width: 3px; background-color: #8585ad">Çok Yüksek</th>
                                    <td class="numeric">Aşırı Çok</td>
                                    <td class="numeric">Çok</td>
                                    <td class="numeric">Çok</td>
                                    <td class="numeric">Orta</td>
                                    <td class="numeric">Çıkışta hareket yok</td>
                                </tr>
                                </tbody>
                            </table>
                        </section>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <section class="panel">

                    <div class="panel-body">
                        <div id="chartContainer" style="height: 450px; width: 100%;"></div>
                        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                    </div>
                </section>
            </div>

            <div class="col-lg-6">
                <section class="panel">
                    <div class="panel-body">
                        <div id="chartContainer1" style="height: 450px; width: 100%;"></div>
                        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <div class="panel-body">
                        <div id="chartContainer2" style="height: 450px; width: 80%; margin: auto"></div>
                        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                    </div>
                </section>
            </div>
        </div>



        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel1"><b>Sıcaklik Üyelikleri ve Dereceleri</b></h4>
                    </div>
                    <div class="modal-body">
                        <div id="chartContainer3" style="height: 450px; margin-left: 4%; margin-bottom: -8%;"></div>
                        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                        @if (ViewBag.girilenSicaklik != null)
                        {<br/>
                            <div class="col-lg-12" style="text-align: center">
                                @foreach (var item in ViewBag.sicaklikUyelikDerece)
                                {
                                    <span style="font-size: 14px;color:black">Girilen <b>@ViewBag.girilenSicaklik (°C)</b><span> Sıcaklık Seviyesi </span> <b>@item.Uyelik</b> Sınıfına Üye ve Derecesi : <b>@item.Derece.ToString("0.##")</b></span><br />
                                }
                            </div>
                        }     
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel"><b>Seviye Üyelikleri ve Dereceleri</b></h4>
                    </div>
                    <div class="modal-body">
                        <div id="chartContainer4" style="height: 450px; margin-left: 4%; margin-bottom: -8%;"></div>
                        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                        @if (ViewBag.girilenSeviye != null)
                        {<br />
                            <div class="col-lg-12" style="text-align: center">
                                @foreach (var item in ViewBag.seviyeUyelikDerece)
                                {
                                    <span style="font-size: 14px;color:black">Girilen <b>@ViewBag.girilenSeviye (L)</b> Su Seviyesi <b>@item.Uyelik</b> Sınıfına Üye ve Derecesi : <b>@item.Derece.ToString("0.##")</b></span><br/>
                                }
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary1" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel2"><b>Bulanık Çıkarım Kuralları</b></h4>
                    </div>
                    <div class="modal-body">
                        <div style="text-align: center">
                            @if (ViewBag.rezistansSonuc != null)
                            {
                                foreach (var item in ViewBag.rezistansSonuc)
                                {
                                    <span style="font-size: 12px">Eğer Sıcaklık <b>@item.RSicaklik - (@item.RSicaklikDerece.ToString("0.##"))</b> , Seviye <b>@item.RSeviye - (@item.RSeviyeDerece.ToString("0.##"))</b> ise Rezistans Çıkışı <b>@item.RUyelik - (@item.RDerece.ToString("0.##"))</b> olur.</span><br/><br/>
                                }

                            }

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary2" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel3"><b>X'Ler</b></h4>
                    </div>
                    <div class="modal-body">
                        @if (ViewBag.xler != null)
                        {
                            foreach (var item in ViewBag.xler)
                            {
                                <span>@item</span><br/>
                            }
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary3" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>*@


        <div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="exampleModalLabel4"><b>Rezistans Üyelikleri ve Dereceleri</b></h4>
                    </div>
                    <div class="modal-body">
                        <div id="chartContainer5" style="height: 450px; margin-left: 4%; margin-bottom: -8%;"></div>
                        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary4" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
        
            <div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel5"><b>Rezistans Çıkış Grafiği</b></h4>
                        </div>
                        <div class="modal-body">
                            <div id="chartContainer6" style="height: 450px; margin-left: 4%; margin-bottom: -8%;"></div>
                            <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary5" data-dismiss="modal">Kapat</button>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        </section>

        
        <!--main content end-->
        <!--footer start-->
        <footer class="site-footer" style="position: fixed; bottom: 0; width: 100%;">
            <div class="text-center">
                2019 &copy; Fuzzy Logic by Mehmet ÖZÇELİK & Fatih KARAÜZÜM               
            </div>
        </footer>
        <!--footer end-->
    </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/Content/js/jquery.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/Content/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/Content/js/jquery.scrollTo.min.js"></script>
    <script src="/Content/js/respond.min.js"></script>
    <!--<script src="/Content/js/jquery.nicescroll.js" type="text/javascript"></script>-->
    <!--common script for all pages-->
    <script src="/Content/js/common-scripts.js"></script>


</body>
</html>

